<header class="header-site py-3">
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex justify-content-start align-items-center">
                {{ the_custom_logo()|raw }}
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <p class="name-header text-center">
                    <a href="{{ home_url('/') }}" rel="home">{{ bloginfo('name') }}</a>
                </p>
            </div>
            <div class="col-3">
                {{ get_search_form()|raw }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="nav-scroller mb-3">
                    {{ flat_menu('primary-menu', 'nav nav-underline justify-content-start align-item-center gap-3')|raw }}
                </div>
            </div>
        </div>
    </div>
</header>