<!DOCTYPE html>
<html {{ language_attributes()|raw }} data-bs-theme="light">
<head>
    <meta charset="{{ bloginfo('charset') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ wp_head()|raw }}
</head>

<body class="{{ body_class() }}">
{{ wp_body_open()|raw }}

<div class="content">
    {% include "components/header.twig" %}

    <main>
        {% block content %}{% endblock %}
        {#{% include "components/sidebar.twig" %}#}
    </main>

    {% include "components/footer.twig" %}
</div>

{{ wp_footer()|raw }}
</body>
</html>
