{% extends "base.twig" %}

{% block content %}

    <main id="primary" class="site-main main-content">
        {% if posts|length > 0 %}

            {% if is_home and not is_front_page %}
                <h1 class="page-title">{{ page_title }}</h1>
            {% endif %}

            {% for post in posts %}
                <article>
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" alt="">
                    {% endif %}

                    <h2><a href="{{ post.permalink }}">{{ post.title|raw }}</a></h2>
                    <p>{{ post.excerpt|raw }}</p>
                    <small>{{ post.date }} - {{ post.author }}</small>
                </article>
            {% endfor %}

            <nav class="navigation">
                {% if pagination.prev_link %}
                    <div class="nav-previous">{{ pagination.prev_link|raw }}</div>
                {% endif %}
                {% if pagination.next_link %}
                    <div class="nav-next">{{ pagination.next_link|raw }}</div>
                {% endif %}
            </nav>

        {% else %}

            <p>Aucun article pour le moment.</p>

        {% endif %}

    </main>

{% endblock %}
