{% extends "base.twig" %}

{% block content %}

    <main id="primary" class="site-main">

        {% set page = get_page_context() %}

        <article id="post-{{ page.id }}" class="page-content">

            <h1 class="page-title">{{ page.title }}</h1>
            {{ test }}

            {% if page.thumbnail %}
                <img class="page-thumbnail" src="{{ page.thumbnail }}" alt="{{ page.title }}">
            {% endif %}

            <div class="page-body">
                {{ page.content|raw }}
            </div>

        </article>

    </main>

{% endblock %}
